#testTextFieldOne {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: black;
    z-index: -10;
}

#testTextFieldTwo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: black;
  z-index: -10;
}

#testTextFieldThree {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: black;
  z-index: -10;
}

#qwe {
  width: 200px;
  height: 600px;
  z-index: 10;
  position: absolute;
}